nav {
    display: flex;
    position: sticky;
    top: 1em;
    justify-content: space-between;
    background: #fff;
    margin: 3em;
    padding: 1em 5em;
    border: #fff;
    border-radius: 75px;

    button {
        border: purple;
        justify-content: space-evenly;
        padding: 2em;
        border-radius: 50%;
    }
}
